aiohttp
anytree
aria2p
appdirs
attrdict
beautifulsoup4
bs4
cfscrape
cloudscrape
feedparser
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
heroku3
js2py
lk21
lxml
messages
natsort
Pillow
psutil
psycopg2-binary
pybase64
Pyrogram==1.2.9
pyshorteners
python-dotenv
python-magic
python-telegram-bot
pytz
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
TgCrypto
torrentool==1.1.0
urllib3
youtube_dl
